<a href="https://colab.research.google.com/github/kate-wolfe/Holdshelves/blob/main/CleanHoldshelves.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

holdshelf = pd.read_csv("/content/drive/MyDrive/Holdshelves/MLNholds_10-14-22.txt", delimiter='^')

holdshelf.rename(columns={'RECORD #(BIBLIO)':'BibRecord', 'RECORD #(ITEM)':'ItemRecord', 'HOLD(ITEM)':'Holds'}, inplace=True)

In [ ]:
import re

pattern = r"PU=(...)"

pickup_location = "ca6" #@param ["ca4", "ca5", "ca6", "ca7", "ca8", "ca9", "cam"]

holdshelf["PickupLoc"] = holdshelf.Holds.str.extract(pattern)

libSubset = holdshelf[~holdshelf['LOCATION'].str.contains(pickup_location)]
libSubset =  libSubset[libSubset["PickupLoc"] == pickup_location]

libSubset

,BibRecord,LANG,MAT TYPE,SUBJECT,ItemRecord,LOCATION,I TYPE,Holds,PickupLoc
48,b1058786x,eng,a,"Halloween -- Juvenile fiction.;""Fiction.""",i13074751,lasj,150,"P#=1231820, I#=1307475, P=10-09-22, NNB=10-09-...",ca6
157,b1152683x,eng,2,Large type books.,i17595435,neeal,2,"P#=1229141, I#=1759543, P=09-10-22, NNB=09-10-...",ca6
218,b12168531,eng,a,"Horror tales, American.;""Horror tales."";""Short...",i20701688,suda,0,"P#=1468160, I#=2070168, P=10-10-22, NNB=10-10-...",ca6
280,b12731328,eng,a,"McCone, Sharon (Fictitious character) -- Ficti...",i23502599,arla,0,"P#=1066375, I#=2350259, P=10-09-22, NNB=10-09-...",ca6
281,b12731377,eng,a,"McCone, Sharon (Fictitious character) -- Ficti...",i23502903,arla,0,"P#=1066375, I#=2350290, P=10-09-22, NNB=10-09-...",ca6
...,...,...,...,...,...,...,...,...,...
27106,b41187374,eng,a,Presidents -- United States -- Elections -- 20...,i18582948x,caman,4,"P#=1229141, I#=18582948, P=09-21-22, NNB=09-21...",ca6
27133,b41124741,eng,a,"Police -- Sweden -- Fiction.;""Women detectives...",i185832015,wyla,0,"P#=1240629, I#=18583201, P=08-13-22, NNB=08-13...",ca6
27184,b41126233,eng,a,"Gunther, Joe (Fictitious character) -- Fiction...",i185837335,dovan,0,"P#=1195394, I#=18583733, P=07-16-22, NNB=07-16...",ca6
27200,b41274702,eng,a,"Ducks -- Juvenile fiction.;""Chickens -- Juveni...",i185838662,winjn,150,"P#=2475195, I#=18583866, P=08-23-22, NNB=08-23...",ca6
28061,b41335387,eng,a,NaN,i185918335,caman,4,"P#=1468160, I#=18591833, P=09-06-22, NNB=09-06...",ca6

In [ ]:
language = "eng" #@param ["eng", "spa", "chi", "fre"]
mat_type = "book" #@param ["book", "movie", "audiobook", "music"]
audience = "adult" #@param ["adult", "ya", "juv"]

lang = libSubset[libSubset["LANG"] == language]

if audience == "adult":
  aud = libSubset[libSubset["I TYPE"] < 100]
elif audience == "ya":
  aud = libSubset[(libSubset["I TYPE"] >= 100) & (libSubset["I TYPE"] < 150)]
else:
  aud = libSubset[(libSubset["I TYPE"] >= 150) & (libSubset["I TYPE"] < 200)]

bookType = ["a  ", "2  ", "f  ", "3  ", "c  ", "e  ", "t  "]
movieType = ["5  ", "u  ", "g  ", "x  ", "6  "]
audiobookType = ["4  ", "i  ", "z  ", "9  "]
musicType = ["j  ", "7  ", "8  "]

if mat_type == "book":
  mat = libSubset[libSubset["MAT TYPE"].isin(bookType)]
elif mat_type == "movie":
  mat = libSubset[libSubset["MAT TYPE"].isin(movieType)]
elif mat_type == "audiobook":
  mat = libSubset[libSubset["MAT TYPE"].isin(audiobookType)]
else:
  mat = libSubset[libSubset["MAT TYPE"].isin(musicType)]

dfs = [lang, mat, aud]
finalSet = pd.concat([df for df in dfs], axis=1, join='inner').reset_index()

finalSet = finalSet.loc[:,~finalSet.columns.duplicated()].copy()

finalSet

,index,BibRecord,LANG,MAT TYPE,SUBJECT,ItemRecord,LOCATION,I TYPE,Holds,PickupLoc
0,157,b1152683x,eng,2,Large type books.,i17595435,neeal,2,"P#=1229141, I#=1759543, P=09-10-22, NNB=09-10-...",ca6
1,218,b12168531,eng,a,"Horror tales, American.;""Horror tales."";""Short...",i20701688,suda,0,"P#=1468160, I#=2070168, P=10-10-22, NNB=10-10-...",ca6
2,280,b12731328,eng,a,"McCone, Sharon (Fictitious character) -- Ficti...",i23502599,arla,0,"P#=1066375, I#=2350259, P=10-09-22, NNB=10-09-...",ca6
3,281,b12731377,eng,a,"McCone, Sharon (Fictitious character) -- Ficti...",i23502903,arla,0,"P#=1066375, I#=2350290, P=10-09-22, NNB=10-09-...",ca6
4,445,b13964793,eng,a,"Cooking, Moroccan",i29473056,cona,0,"P#=1887198, I#=2947305, P=10-11-22, NNB=10-11-...",ca6
...,...,...,...,...,...,...,...,...,...,...
85,27083,b41214419,eng,a,"Bigar, Sylvie.;""Travel writers -- Biography."";...",i185826726,caman,4,"P#=1672274, I#=18582672, P=09-21-22, NNB=09-21...",ca6
86,27106,b41187374,eng,a,Presidents -- United States -- Elections -- 20...,i18582948x,caman,4,"P#=1229141, I#=18582948, P=09-21-22, NNB=09-21...",ca6
87,27133,b41124741,eng,a,"Police -- Sweden -- Fiction.;""Women detectives...",i185832015,wyla,0,"P#=1240629, I#=18583201, P=08-13-22, NNB=08-13...",ca6
88,27184,b41126233,eng,a,"Gunther, Joe (Fictitious character) -- Fiction...",i185837335,dovan,0,"P#=1195394, I#=18583733, P=07-16-22, NNB=07-16...",ca6
89,28061,b41335387,eng,a,NaN,i185918335,caman,4,"P#=1468160, I#=18591833, P=09-06-22, NNB=09-06...",ca6

In [ ]:
subSet = finalSet[['ItemRecord','SUBJECT']]

subSet = subSet.dropna()

p = re.compile(r'[^\w\s]+')
subSet['SUBJECT'] = [p.sub(' ', x) for x in subSet['SUBJECT'].tolist()]

subSet

    ItemRecord                                            SUBJECT
0    i17595435                                  Large type books
1    i20701688  Horror tales  American Horror tales Short stor...
2    i23502599  McCone  Sharon  Fictitious character    Fictio...
3    i23502903  McCone  Sharon  Fictitious character    Fictio...
4    i29473056                                  Cooking  Moroccan
..         ...                                                ...
84  i185826532  Queer theory Feminist theory Interpersonal rel...
85  i185826726  Bigar  Sylvie Travel writers   Biography Genea...
86  i18582948x  Presidents   United States   Elections   2020 ...
87  i185832015  Police   Sweden   Fiction Women detectives   F...
88  i185837335  Gunther  Joe  Fictitious character    Fiction ...

[86 rows x 2 columns]

In [ ]:
subSet.to_csv('/content/drive/MyDrive/Holdshelves/holdshelf_10-14-22.csv', index=False)